main{
    width: 50%;
    margin: 50px auto;
    text-align: center;

}
table{
    margin : 50px auto;
}
table , th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

th ,td{
    padding :5px;
}

#topic
{
    text-align:center;

}

body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/058/793/small/abstract-blur-with-bokeh-light-for-background-usage-vector.jpg");
    background-size: cover; 
    background-position: center; 
    background-color: #f0f0f0; 
    height: 100vh;
    margin: 0; 
    background-attachment: fixed;
}